{% extends "base.html" %}
{% load static %}


{% block links_css %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
    <link rel="stylesheet" href="{% static "blog/posts.css" %}">
{% endblock  %}



{% block title %}
Dereck's Blog
{% endblock  %}

{% block content %}


<section class="main-header-section">
    <div class="myself-picture">
        <div class="picture-back-side">
            <a href="https://github.com/dereck-alex18?tab=repositories" target="_blank"><img src="{% static "blog/images/github_icon.png" %}"/></a>
            <a href="https://www.linkedin.com/in/dereck-portela-36682675/" target="_blank"><img src="{% static "blog/images/linkedin_icon.png" %}"/></a>
        </div>
    </div>
    
    <h2>Dereck's Blog</h2>
    <p>Enjoy this fantatic blog regarding programming, newest technology in the market and so on</p>
</section>

<main class="container lg-container">
    {% for post in posts %}
        {% include "blog/includes/posts.html" %}
    {% endfor %}
</main>

<footer>
    <h2>What I Do</h2>
    <p>I’m a Software Test Engineer with a strong passion for software development and programming.</p> 
    <p>My goal is to continually grow as a professional while helping others on their journey.</p>
</footer>
{% endblock  %}