{% extends "base.html" %}
{% load static %}

{% block links_css %}
<link rel="stylesheet" href="{% static "blog/single-post.css" %}">
<link rel="stylesheet" href="{% static "blog/posts.css" %}">
{% endblock  %}

{% block title %}
    Single Post
{% endblock  %}


{% block content %}
    <section class="hero lg-container">
        <h1>{{ post.title }}</h1>
        <div class="post-image-info">
        </div>
        <div class="post-info-author">
            <p>Author: {{ post.author }}</p>
            <p>Last updated on: <time>{{ post.date|date:"d M Y" }}</time></p>
        </div> 
    </section>

    <section class="blog-content lg-container">
        <article>
            <p>
                {{ post.content }}
            </p>
        </article>
    </section>

{% endblock  %}

