{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style.css" %}">
    {% block links_css %}{% endblock  %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <section class="nav-section">
            <h1>
               <a href="">Dereck's Blog</a>
            </h1>
            <nav>
                <a class="all-posts" href="">All Posts</a>
            </nav>
        </section>
        
    </header>
    {% block content %}{% endblock  %}
</body>
</html>